
  /* rounded button */

  .myButton a {
    font-family: "Amiri";
    font-size: 20px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    margin: 0 0 0 30px;
    padding: 10px 25px;
}
.myButton a:hover {
    background: #088bf0;
    color: #fff;
}
  /* ~~ Top Navigation Bar ~~ */
  
  body
{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: #464343;
}
.text{
    text-align: center;
    height: 100px;
    background: #262626;
    color: #FFF;
}
.nav{
    background: #19191a;
    color: #FFF;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}
.nav .logo{
    font-family: 'Amiri';
    font-size: 24px;
    padding: 20px;
    margin-left: 25px;
    text-decoration:none; color:white;
}

.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 50%;
    margin-left: auto
}
ul li{
    padding: 20px;
    list-style: none
}
ul li a{
    font-size: 20px;
    padding: 20px;
    text-decoration:none;
     color:white;
}
section{
    height: 300px;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}
.home{
    margin-top: 100px;
}
.flex-parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    margin: 10px;
    padding: 90px;
    width:500px;
    height:300px;   
  }
  .boxone {
    margin: 10px;
    padding: 35px;
    width:500px;
    height:300px;   
  }
/* homepage tagline */
  .head {
    font-family: 'Amiri';
    font-size: 55px;
    color: white;
  }
  